[[source]]
name = "pypi"
# url = "https://pypi.org/simple"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
pypinyin = "*"

[requires]
python_version = "3.7"
